{% extends 'base.html' %}

{% block navbar %}
{% endblock %}

{% block content %}
<div class="d-flex align-items-center flex-column mt-5 pt-5">
  <h1 class="mb-2">Login</h1>
  <form class="mb-5" method="POST" action="{% url 'authentication:login' %}">
    {% csrf_token %}
    <p class="mt-3 mb-0">Username</p>
    <input id='username' name="username">
    <p class="mt-3 mb-0">Password</p>
    <input type="password" id='password' name="password">
    <p></p>
    <input type="submit" value="Login" class="btn btn-danger">
  </form>
</div>
{% endblock %}