{% extends 'base.html' %}

{% block content %}
<div class="d-flex align-items-center flex-column mt-5 pt-3 mb-5">
  <h1 class="mb-4">Profile</h1>
  <form>
    <div class="form-group row">
      <p class="mt-3 mb-0 col">Username</p>
      <input value="{{ profil.username }}" readonly>
    </div>
    <div class="form-group row">
      <p class="mt-3 mb-0 col">Password</p>
      <input id="password" value="{{ profil.password  }}" type="password" onclick="seePassword()" readonly>
    </div>
    <div class="form-group row">
      <p class="mt-3 mb-0 col">Nomor Identitas</p>
      <input value="{{ profil.nomor_id }}" readonly>
    </div>
    <div class="form-group row">
      <p class="mt-3 mb-0 col">Nama Lengkap</p>
      <input value="{{ profil.nama_lengkap }}" readonly>
    </div>
    <div class="form-group row">
      <p class="mt-3 mb-0 col">Tanggal Lahir</p>
      <input value="{{ profil.tanggal_lahir }}" readonly type="date">
    </div>
    <div class="form-group row">
      <p class="mt-3 mb-0 col">Email</p>
      <input value="{{ profil.email }}" readonly type="email">
    </div>
    <div class="form-group row">
      <p class="mt-3 mb-0 col">Alamat</p>
      <input value="{{ profil.alamat }}" readonly>
    </div>
  </form>
</div>
{% endblock %}

{% block script %}
<script>
  function seePassword(){
    password = document.getElementById("password");
    if (password.type == 'text') password.type = 'password';
    else password.type = 'text';
  }
</script>
{% endblock %}