{% extends 'base.html' %}

{% block navbar %}
{% endblock %}

{% block content %}
<div class="d-flex align-items-center flex-column mt-5 pt-5 mb-5">
  <h1 class="mb-2">Pendaftaran Dokter</h1>
  <form action="{% url 'authentication:registerdokter' %}" method="POST" onclick="ilanginError()">
    {% csrf_token %}
    {% if error %}
      <p class="text-danger text-center" id="error-message">
        akun dengan username / email /<br/> nomor identitas tersebut sudah ada
      </p>
    {% endif %}
    <p class="mt-3 mb-0">Username</p>
    <input name="username" required>
    <p class="mt-3 mb-0">Password</p>
    <input name="password" type="password" required>
    <p class="mt-3 mb-0">Nomor Identitas</p>
    <input name="nomor_id" required>
    <p class="mt-3 mb-0">Nama Lengkap</p>
    <input name="nama_lengkap" required>
    <p class="mt-3 mb-0">Tanggal Lahir</p>
    <input name="tanggal_lahir" type="date" required>
    <p class="mt-3 mb-0">Email</p>
    <input name="email" type="email" required>
    <p class="mt-3 mb-0">Alamat</p>
    <input name="alamat" required>
    <p class="mt-3 mb-0">No SIP</p>
    <input name="no_sip">
    <p class="mt-3 mb-0">Spesialisasi</p>
    <input name="spesialisasi">
    <p></p>
    <input type="submit" value="Register" class="btn btn-danger float-right">
  </form>
</div>
{% endblock %}

{% block script %}
<script>
  function ilanginError(){
    document.getElementById("error-message").style.display="none";
  }
</script>
{% endblock %}