{% extends 'base.html' %}

{% block content %}
<div class="d-flex flex-column align-items-center">
    <h2>FORM PENDAFTARAN DOKTER RS CABANG</h2>
    <div class=" mt-4 w-25">
        {% if error %}
            <h3 class="text-warning">Integrity Error, please change your input!</h3>
        {% endif %}
        <form action="{% url 'rscabang:add_dokter' %}" method="POST" class="align-items-center" >
            {% csrf_token %}
            <div class="d-flex flex-row form-group-row my-2">
                <p class="w-25">ID Dokter</p>
                <select name="id_dokter" id="" class="custom-select w-75">
                    {% for item in list_id_dokter %}
                        <option value="{{ item.id_dokter }}">{{ item.id_dokter }} - {{ item.username }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="d-flex flex-row form-group-row my-2">
                <p class="w-25">Kode RS</p>
                <select name="kode_rs" id="" class="custom-select w-75">
                    {% for item in list_kode_rs %}
                        <option value="{{ item.kode_rs }}">{{ item.kode_rs }} - {{ item.nama }}</option>
                    {% endfor %}
                </select>
            </div>
            <input type="submit" value="Submit" class="btn btn-outline-info float-right mt-2">
        </form>
    </div>
</div>

{% endblock %}
