{% extends 'base.html' %}

{% block content %}
<div class="d-flex flex-column align-items-center">
    <h2>FORM FORM PEMBUATAN RS CABANG</h2>
    <div class=" mt-4 w-50">
        <form action="{% url 'rscabang:buat_rscabang' %}" method="POST" class="align-items-center" onclick="ilanginError()">
            {% csrf_token %}
            <p class="text-danger" id="error-message">
                {% if error %}
                    kode RS cabang tersebut sudah ada atau beberapa input tidak sesuai, silakan coba lagi
                {% endif %}
            </p>
            <div class="d-flex flex-row form-group-row my-2">
                <p class="w-25">Kode RS Cabang</p>
                <input type="text" name="kode" class="form-control w-75" value="{{ kode }}" required>
            </div>
            <div class="d-flex flex-row form-group-row my-2">
                <p class="w-25">Nama</p>
                <input type="text" name="nama" class="form-control w-75" required>
            </div>
            <div class="d-flex flex-row form-group-row my-2">
                <p class="w-25">Tanggal Pendirian</p>
                <input type="date" name="tanggal" class="form-control w-75 required">
            </div>
            <div class="d-flex flex-row form-group-row my-2">
                <p class="w-25">Jalan</p>
                <input type="text" name="jalan" class="form-control w-75">
            </div>
            <div class="d-flex flex-row form-group-row my-2">
                <p class="w-25">Nomor</p>
                <input type="text" name="nomor" class="form-control w-75">
            </div>
            <div class="d-flex flex-row form-group-row my-2">
                <p class="w-25">Kota</p>
                <input type="text" name="kota" class="form-control w-75" required>
            </div>
            <input type="submit" value="Submit" class="btn btn-outline-info float-right mt-2">
        </form>
    </div>
</div>

{% endblock %}

{% block script %}
<script>
  function ilanginError(){
    document.getElementById("error-message").innerHTML="";
  }
</script>
{% endblock %}