{% extends 'base.html' %}

{% block content %}
<h2 class="mt-4 mb-3 ml-3">Daftar RS Cabang</h1>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Kode RS</th>
        <th scope="col">Nama</th>
        <th scope="col">Tanggal Pendirian</th>
        <th scope="col">Jalan</th>
        <th scope="col">Kota</th>
        <th scope="col">Nomor</th>
        {% if request.session.role == 'admin' %}
        <th scope="col">Action</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for rs in list_rscabang %}
      <tr>
        <td>{{ rs.kode_rs }}</td>
        <td>{{ rs.nama }}</td>
        <td>{{ rs.tanggal_pendirian }}</td>
        <td>{{ rs.jalan }}</td>
        <td>{{ rs.kota }}</td>
        <td>{{ rs.nomor }}</td>
        {% if request.session.role == 'admin' %}
        <td>
          <div class="col">
            <button class='btn btn-outline-info btn-sm' onclick="window.location={{ rs.kode_rs }}">Update</button>
            <form method="POST" action="{% url 'rscabang:delete_rscabang' rs.kode_rs %}">
              {% csrf_token %}
              <button class='btn btn-danger' type="submit">Delete</button>
            </form>
          <div>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>


  {% endblock %}