{% extends 'base.html' %}

{% block content %}
<div class='container'>
    <h1 class='d-flex align-items-center flex-column mt-3 pt-3'>Daftarkan Administrator</h1>

    <form class='d-flex flex-column align-items-center' method="POST" action="{% url 'rscabang:daftarkan_administrator' %}">
    {% csrf_token %}
    {% if error %}
        <p class="text-danger text-center mb-3" id="error-message">
            Terjadi kesalahan
        </p>
    {% endif %}
    <div class='mt-3 d-flex flex-column col-sm-4'>
        <div class="form-group row pl-4">
            <label for="no-pegawai" class="col-sm-5 col-form-label">No. Pegawai</label>
            <div class="col-sm-7">
                <!-- <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="no-pegawai" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        No. Pegawai
                    </button>
                    <div class="dropdown-menu" aria-labelledby="no-pegawai">
                        <button class="dropdown-item" type="button">1</button>
                        <button class="dropdown-item" type="button">2</button>
                        <button class="dropdown-item" type="button">3</button>
                    </div>
                </div> -->
                <select class="custom-select" name="nomor_pegawai" required aria-invalid="false">
                    <option value="" selected disabled>No. Pegawai</option>
                    {% for admin in list_admin %}
                        <option value="{{ admin.nomor_pegawai }}">{{ admin.nomor_pegawai }} - {{ admin.username }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group row pl-4">
            <label for="kode-rs" class="col-sm-5 col-form-label">Kode RS</label>
            <div class="col-sm-7">
                <!-- <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="kode-rs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Kode RS
                    </button>
                    <div class="dropdown-menu" aria-labelledby="kode-rs">
                        <button class="dropdown-item" type="button">1</button>
                        <button class="dropdown-item" type="button">2</button>
                        <button class="dropdown-item" type="button">3</button>
                    </div>
                </div> -->
                <select class="custom-select" name="kode_rs" required aria-invalid="false">
                    <option value="" selected disabled>Kode RS</option>
                    {% for rs in list_rs_cabang %}
                        <option value="{{ rs.kode_rs }}">{{ rs.kode_rs }} - {{ rs.nama }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class='container d-flex align-items-right flex-column'>
            <input type="submit" value="Daftarkan" class="btn btn-danger mt-3">
        </div>
    </div>
    </form>
</div>
{% endblock %}