{% extends 'base.html' %}

{% block content %}
<h2 class="mt-4 mb-3 ml-3">Daftar Dokter-RS Cabang</h1>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Kode RS Cabang</th>
        <th scope="col">ID Dokter</th>
        {% if request.session.role == "admin" %}
          <th scope="col">Action</th>
        {% endif %} 
      </tr>
    </thead>
    <tbody>
      {% for kodeRS in list_kodeRS %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{kodeRS.kode_rs}}</td>
          <td>
            {% for pairs in list_pair_items %}
              {% if pairs.kode_rs == kodeRS.kode_rs %}
                <li class="mb-1">{{ pairs.id_dokter }}</li>
              {% endif %}
            {% endfor %}
          </td>
          {% if request.session.role == "admin" %}
            <td>
              {% for pairs in list_pair_items %}
                {% if pairs.kode_rs == kodeRS.kode_rs %}
                  <li class="mb-1">
                      <button class='btn btn-outline-info btn-sm' onclick="window.location='{{kodeRS.kode_rs}}/{{pairs.id_dokter}}'">Update</button>
                      <form method="POST" action="{% url 'rscabang:delete_pair' kodeRS.kode_rs pairs.id_dokter %}" class='btn btn-sm'>
                        {% csrf_token %}
                        <button class='btn btn-danger btn-sm'>Delete</button>
                      </form>
                  </li>
                {% endif %}
              {% endfor %}
            </td>
          {% endif %}
        </tr>
      {% endfor %}
      <!-- <tr>
        <th scope="row">2</th>
        <td>2</td>
        <td>
            <li class="mb-1">2</li>
            <li class="mb-1">7</li>
        </td>
        <td>
            <li class="mb-1">
                <button class='btn btn-outline-info btn-sm' onclick="window.location='3'">Update</button>
                <button class='btn btn-danger btn-sm'>Delete</button>
            </li>
            <li class="mb-1">
                <button class='btn btn-outline-info btn-sm' onclick="window.location='4'">Update</button>
                <button class='btn btn-danger btn-sm'>Delete</button>
            </li>
        </td>
      </tr> -->
    </tbody>
  </table>


{% endblock %}