{% extends 'base.html' %}

{% block content %}
<div class="d-flex flex-column align-items-center">
    <h2>FORM UPDATE RS Cabang</h2>
    {% if error %}
        <h3 class="text-warning">Error occured, please check your input!</h3>
    {% endif %}
    <div class=" mt-4 w-75">
        <form action="" method="POST" class=" align-items-center">
            {% csrf_token %}
            <div class="d-flex flex-row form-group-row my-2">
                <p class="w-50">Kode RS</p>
                <input type="text" class="form-control" id="disabledTextInput" placeholder="{{ rs.kode_rs }}" disabled>
            </div>
            <div class="d-flex flex-row form-group-row my-2">
                <p class="w-50">Nama</p>
                <input type="text" name="nama" class="form-control" value="{{ rs.nama }}">
            </div>
            <div class="d-flex flex-row form-group-row my-2">
                <p class="w-50">Tanggal Pendirian</p>
                <input type="date" name="tanggal" class="form-control" value="{{ tanggal }}">
            </div>
            <div class="d-flex flex-row form-group-row my-2">
                <p class="w-50">Jalan</p>
                <input type="text" name="jalan" class="form-control" value="{{ rs.jalan }}">
            </div>
            <div class="d-flex flex-row form-group-row my-2">
                <p class="w-50">Kota</p>
                <input type="text" name="kota" class="form-control" value="{{ rs.kota }}">
            </div>
            <div class="d-flex flex-row form-group-row my-2">
                <p class="w-50">Nomor</p>
                <input type="text" name="nomor" class="form-control" value="{{ rs.nomor }}">
            </div>
            <input type="submit" value="Submit" class="btn btn-outline-info float-right mt-2">
        </form>
    </div>
</div>
{% endblock %}