{% extends 'base.html' %}

{% block content %}
<div class="d-flex align-items-center flex-column mt-5 pt-5">
  <h1 class="mb-2">FORM UPDATE DOKTER-RS CABANG</h1>
  <form method="POST" action="{% url 'rscabang:update_dokter' old_kode_rs old_id_dokter %}">
    {% csrf_token %}
    <div class="form-group row">
        <p class="col">ID Dokter</p>
        <select name="id_dokter" id="" class="custom-select">
            <option value="{{ old_id_dokter }}" selected> {{ old_id_dokter }} - {{ detail_old_dokter.username }} </option>
            {% for items in list_idDokter %}
              {% if items.id_dokter != old_id_dokter %}
                <option value="{{ items.id_dokter }}">{{ items.id_dokter }} - {{ items.username }}</option>
              {% endif %}
            {% endfor %}
        </select>
    </div>
    <div class="form-group row">
        <p class="col">Kode RS Cabang</p>
        <select name="kode_rs" id="" class="custom-select">
            <option value="{{ old_kode_rs }}" selected>{{ old_kode_rs }} - {{ detail_old_rs.nama }}</option>
            {% for items in list_kodeRS %}
              {% if items.kode_rs != old_kode_rs %}
                <option value="{{ items.kode_rs }}">{{ items.kode_rs }} - {{ items.nama }}</option>
              {% endif %}
            {% endfor %}
        </select>
    </div>
    <p></p>
    <input type="submit" value="Update" class="btn btn-outline-info float-right">
  </form>
</div>
{% endblock %}