{% extends 'base.html' %}

{% block content %}
<div class="d-flex flex-column align-items-center mt-5">
    <h2>FORM PEMBUATAN LAYANAN POLIKLINIK</h2>
    {% if error %}
        <h3 class="text-warning">Error occured, please check your input!</h3>
    {% endif %}
    <div class=" mt-4 w-75">
        <form action="{% url 'poliklinik:buat_layananPoli' %}" class="align-items-center" method="POST">
            {% csrf_token %}
            <div class="d-flex flex-row form-group-row my-2">
                <p class="w-50">Nama Layanan</p>
                <input type="text" name="nama" class="form-control w-70" required>
            </div>
            <div class="d-flex flex-row form-group-row my-2">
                <p class="w-50">Deskripsi</p>
                <input name="deskripsi" type="text" class="form-control w-70">
            </div>
            <div class="d-flex flex-row form-group-row my-2">
                <p class="w-50">Kode RS</p>
                <select name="kode_rs" id="" class="custom-select w-70">
                    {% for rs in list_rs %}
                        <option value="{{ rs.kode_rs }}">{{ rs.kode_rs }} - {{ rs.nama }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="d-flex flex-row form-group-row my-2" >
                <p class="w-25 mr-5">Daftar Jadwal</p>
                <div class='w-55' id="jadwal">
                    <div class="d-flex flex-row form-group-row ml-5">
                        <select name="hari" id="" class="custom-select">
                            <option value="Senin" selected>Senin</option>
                            <option value="Selasa">Selasa</option>
                            <option value="Rabu">Rabu</option>
                            <option value="Kamis">Kamis</option>
                            <option value="Jumat">Jumat</option>
                            <option value="Sabtu">Sabtu</option>
                            <option value="Minggu">Minggu</option>
                        </select>
                        <span>;</span>
                        <input name="jam_mulai" value="09:00" type="time" class="form-control" placeholder="Jam mulai" required>
                        <span>-</span>
                        <input name="jam_selesai" value="12:00" type="time" class="form-control" placeholder="Jam selesai" required>
                        <span>;</span>
                        <input name="kapasitas" type="text" class="form-control" placeholder="Kapasitas" required>
                        <span>;</span>
                        <select name="dokter" id="" class="custom-select" required aria-invalid="false">
                            <option value="" selected disabled>Dokter</option>
                            {% for dokter in list_dokter %}
                                <option value="{{ dokter.id_dokter }}">{{ dokter.id_dokter }} - {{ dokter.username }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <button type="button" style="width: 80px;height: 35px;" class="btn btn-outline-warning ml-3" onclick="addJadwal()">Tambah</button>
            </div>
            <input type="submit" value="Submit" class="btn btn-outline-info float-right mt-2">
        </form>
    </div>
</div>

{% endblock %}
{% block script %}
<script>
  function addJadwal(e){
    const div = document.createElement('div');
    div.className= "d-flex flex-row form-group-row ml-5";
    div.innerHTML= `
        <select name="hari" id="" class="custom-select">
            <option value="Senin" selected>Senin</option>
            <option value="Selasa">Selasa</option>
            <option value="Rabu">Rabu</option>
            <option value="Kamis">Kamis</option>
            <option value="Jumat">Jumat</option>
            <option value="Sabtu">Sabtu</option>
            <option value="Minggu">Minggu</option>
        </select>
        <span>;</span>
        <input name="jam_mulai" value="09:00" type="time" class="form-control" placeholder="Jam mulai" required>
        <span>-</span>
        <input name="jam_selesai" value="12:00" type="time" class="form-control" placeholder="Jam selesai" required>
        <span>;</span>
        <input name="kapasitas" type="text" class="form-control" placeholder="Kapasitas" required>
        <span>;</span>
        <select name="dokter" id="" class="custom-select" required aria-invalid="false">
            <option value="" selected disabled>Dokter</option>
            {% for dokter in list_dokter %}
                <option value="{{ dokter.id_dokter }}">{{ dokter.id_dokter }} - {{ dokter.username }}</option>
            {% endfor %}
        </select>
    `;
    document.getElementById("jadwal").appendChild(div);
  }
</script>
{% endblock %}
