{% extends 'base.html' %}

{% block content %}
<div class="d-flex flex-column align-items-center">
    <h2>FORM BUAT JADWAL LAYANAN POLIKLINIK</h2>
    {% if error %}
        <h3 class="text-warning">Error occured, please check your input!</h3>
    {% endif %}
    <div class="mt-4 w-75">
        <form action="{% url 'poliklinik:buat_jadwalPoli' %}" method="POST" class=" align-items-center">
            {% csrf_token %}
            <div class="d-flex flex-row form-group-row my-2">
                <p class="w-50">Hari</p>
                <select name="hari" id="" class="custom-select" placeholder="Pilih hari">
                    {% for nama_hari in daftar_hari %}
                        <option value="{{ nama_hari }}">{{ nama_hari }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="d-flex flex-row form-group-row my-2">
                <p class="w-50">Waktu Mulai</p>
                <input type="time" name="waktu_mulai" class="form-control" value="">
            </div>
            <div class="d-flex flex-row form-group-row my-2">
                <p class="w-50">Waktu Selesai</p>
                <input type="time" name="waktu_selesai" class="form-control" value="">
            </div>
            <div class="d-flex flex-row form-group-row my-2">
                <p class="w-50">Kapasitas</p>
                <input type="text" name="kapasitas" class="form-control" value="" placeholder="kapasitas">
            </div>
            <div class="d-flex flex-row form-group-row my-2">
                <p class="w-50">ID Dokter</p>
                <select name="id_dokter" id="" class="custom-select" placeholder="pilih id dokter">
                    {% for items in list_id_dokter %}
                        <option value="{{ items.id_dokter }}" selected>{{ items.id_dokter }} - {{ items.username }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="d-flex flex-row form-group-row my-2">
                <p class="w-50">ID Poliklinik</p>
                <select name="id_poliklinik" id="" class="custom-select" placeholder="pilih id poliklinik">
                    {% for items in list_id_poliklinik %}
                        <option value="{{ items.id_poliklinik }}">{{ items.id_poliklinik }} - {{ items.nama }}</option>
                    {% endfor %}
                </select>
            </div>
            <input type="submit" value="Submit" class="btn btn-outline-info float-right mt-2">
        </form>
    </div>
</div>
{% endblock %}