{% extends 'base.html' %}

{% block content %}
<h2 class="mt-4 mb-3 ml-3">Daftar Layanan Poliklinik</h1>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">ID Layanan Poliklinik</th>
        <th scope="col">Nama</th>
        <th scope="col">Deskripsi</th>
        <th scope="col">Kode RS</th>
        <th scope="col">Jadwal</th>
        {% if request.session.role == "admin" %}
          <th scope="col">Action</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for poli in poliklinik %}
        <tr>
          <td>{{ poli.id_poliklinik }}</td>
          <td>{{ poli.nama }}</td>
          <td>{{ poli.deskripsi }}</td>
          <td>{{ poli.kode_rs_cabang }}</td>
          <td>
              <div class="col">
                  <button class='btn btn-outline-info btn-sm' onclick="window.location='jadwal/{{ poli.id_poliklinik }}'">Jadwal Layanan</button>
              <div> 
          </td>
          {% if request.session.role == "admin" %}
            <td>
              <div class="col">
              <a href="{% url 'poliklinik:update_layananPoli' poli.id_poliklinik %}" class="btn btn-outline-info btn-sm">Update</a>
              <form action="{% url 'poliklinik:delete_layananPoli' poli.id_poliklinik %}" method="POST"> 
                {% csrf_token %}
                <button class='btn btn-danger btn-sm'>Delete</button>
              </form>
              <div>
            </td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>


  {% endblock %}