{% extends 'base.html' %}

{% block content %}
<h2 class="mt-4 mb-3 ml-3">DAFTAR JADWAL LAYANAN POLIKLINIK KESELURUHAN</h1>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">ID Jadwal Poliklinik</th>
        <th scope="col">Hari</th>
        <th scope="col">Waktu Mulai</th>
        <th scope="col">Waktu Selesai</th>
        <th scope="col">Kapasitas</th>
        <th scope="col">ID Dokter</th>
        <th scope="col">ID Poliklinik</th>
        {% if request.session.role == "admin" %}
          <th scope="col">Action</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for items in list_all_jadwal %}
        <tr>
          <td>{{ items.id_jadwal_poliklinik }}</td>
          <td>{{ items.hari }}</td>
          <td>{{ items.waktu_mulai }}</td>
          <td>{{ items.waktu_selesai }}</td>
          <td>{{ items.kapasitas }}</td>
          <td>{{ items.id_dokter }}</td>
          <td>{{ items.id_poliklinik }}</td>
          {% if request.session.role == "admin" %}
            <td>
              <div class="col">
                <a href="{% url 'poliklinik:update_jadwalPoli' items.id_jadwal_poliklinik %}" class="btn btn-outline-info btn-sm">Update</a>
                <form action="{% url 'poliklinik:delete_jadwalPoli' items.id_jadwal_poliklinik %}" method="POST" class="btn btn-sm">
                  {% csrf_token %}
                  <button class='btn btn-danger btn-sm' type="submit">Delete</button>
                </form>
              <div>
            </td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>


  {% endblock %}