{% extends 'base.html' %}

{% block content %}
<div class="d-flex flex-column align-items-center">
    <h2>FORM UPDATE LAYANAN POLIKLINIK</h2>
    {% if error %}
        <h3 class="text-warning">Error occured, please check your input!</h3>
    {% endif %}
    <div class="mt-4 w-75">
        <form action="{% url 'poliklinik:update_layananPoli' id_poli %}" method="POST" class=" align-items-center">
            {% csrf_token %}
            <div class="d-flex flex-row form-group-row my-2">
                <p class="w-50">ID Poliklinik</p>
                <input type="text" class="form-control" id="disabledTextInput" value="{{ id_poli }}" disabled name="id_poliklinik">
            </div>
            <div class="d-flex flex-row form-group-row my-2">
                <p class="w-50">Nama Layanan</p>
                <input type="text" name="nama_layanan" class="form-control" value="{{ detail_layanan.nama }}">
            </div>
            <div class="d-flex flex-row form-group-row my-2">
                <p class="w-50">Deskripsi</p>
                <input type="text" name="deskripsi" class="form-control" value="{{ detail_layanan.deskripsi }}">
            </div>
            <div class="d-flex flex-row form-group-row my-2">
                <p class="w-50">Kode RS Cabang Penyedia Layanan</p>
                <select name="kode_rs" id="" class="custom-select">
                    <option value="{{ detail_layanan.kode_rs_cabang }}" selected>{{ detail_layanan.kode_rs_cabang }}</option>
                    {% for items in daftar_rs_cabang %}
                        {% if items.kode_rs != detail_layanan.kode_rs_cabang %}
                            <option value="{{ items.kode_rs }}">{{ items.kode_rs }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <input type="submit" value="Submit" class="btn btn-outline-info float-right mt-2">
        </form>
    </div>
</div>
{% endblock %}