{% extends 'base.html' %}

{% block content %}
<div class="d-flex flex-column align-items-center">
    <h2>FORM UPDATE JADWAL LAYANAN POLIKLINIK</h2>
    {% if error %}
        <h3 class="text-warning">Error occured, please check your input!</h3>
    {% endif %}
    <div class="mt-4 w-75">
        <form action="{% url 'poliklinik:update_jadwalPoli' id_jadwal_poliklinik %}" method="POST" class=" align-items-center">
            {% csrf_token %}
            <div class="d-flex flex-row form-group-row my-2">
                <p class="w-50">ID Jadwal Layanan Poliklinik</p>
                <input type="text" name="id_jadwal_poliklinik" class="form-control"  value="{{ id_jadwal_poliklinik }}" disabled>
            </div>
            <div class="d-flex flex-row form-group-row my-2">
                <p class="w-50">Hari</p>
                <select name="hari" id="" class="custom-select">
                    <option value="{{ detail_jadwal.hari }}" selected>{{ detail_jadwal.hari }}</option>
                    {% for nama_hari in daftar_hari %}
                        {% if nama_hari != detail_jadwal.hari %}
                            <option value="{{ nama_hari }}">{{ nama_hari }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="d-flex flex-row form-group-row my-2">
                <p class="w-50">Waktu Mulai</p>
                <input type="time" name="waktu_mulai" class="form-control" value="{{ detail_jadwal.waktu_mulai }}">
            </div>
            <div class="d-flex flex-row form-group-row my-2">
                <p class="w-50">Waktu Selesai</p>
                <input type="time" name="waktu_selesai" class="form-control" value="{{ detail_jadwal.waktu_selesai }}">
            </div>
            <div class="d-flex flex-row form-group-row my-2">
                <p class="w-50">Kapasitas</p>
                <input type="text" name="kapasitas" class="form-control" value="{{ detail_jadwal.kapasitas }}">
            </div>
            <div class="d-flex flex-row form-group-row my-2">
                <p class="w-50">ID Dokter</p>
                <select name="id_dokter" id="" class="custom-select">
                    <option value="{{ detail_jadwal.id_dokter }}" selected>{{ detail_jadwal.id_dokter }}</option>
                    {% for items in list_id_dokter %}
                        {% if items.id_dokter != detail_jadwal.id_dokter %}
                            <option value="{{ items.id_dokter }}">{{ items.id_dokter }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="d-flex flex-row form-group-row my-2">
                <p class="w-50">ID Poliklinik</p>
                <input type="text" name="id_poli" class="form-control" value="{{ detail_jadwal.id_poliklinik }}" disabled>
            </div>
            <input type="submit" value="Update" class="btn btn-outline-info float-right mt-2">
        </form>
    </div>
</div>
{% endblock %}