{% extends 'base.html' %}

{% block content %}
<div class="d-flex flex-column align-items-center">
    <h2>FORM RESERVASI SESI KONSULTASI</h2>
    <div class=" mt-4 w-50">
        <form action="{% url 'sesikonsultasi:add_sesi' %}" method="POST" class="align-items-center">
            {% csrf_token %}
            <div class="d-flex flex-row form-group-row my-2">
                <p class="w-25">No Rekam Medis</p>
                <select name="no_rekam_medis" id="" class="custom-select w-75">
                    {% for no in list_no_rekam_medis %}
                    <option value="{{ no.no_rekam_medis }}">{{ no.no_rekam_medis }} - {{ no.username }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="d-flex flex-row form-group-row my-2">
                <p class="w-25">Tanggal</p>
                <input type="date" class="form-control w-75" name="tanggal">
            </div>
            <div class="d-flex flex-row form-group-row my-2">
                <p class="w-25">ID Transaksi</p>
                <select name="id_transaksi" id="" class="custom-select w-75">
                    {% for transaksi in list_transaksi %}
                    <option value="{{ transaksi.id_transaksi }}">{{ transaksi.id_transaksi }}</option>
                    {% endfor %}
                </select>
            </div>
            <input type="submit" value="Submit" class="btn btn-outline-info float-right mt-2">
        </form>
    </div>
</div>






{% endblock %}