{% extends 'base.html' %}

{% block content %}
<h2 class="mt-4 mb-3 ml-3">Daftar Sesi Konsultasi</h1>
  <p class="mt-4 mb-3 ml-3">{{ request.session.username }} - {{ request.session.role }}</p>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col-1">ID Konsultasi</th>
        <th scope="col-2">No. Pasien</th>
        <th scope="col-2">Tanggal</th>
        <th scope="col-2">Biaya</th>
        <th scope="col-2">Status</th>
        <th scope="col-1">ID Transaksi</th>
        {% if request.session.role == "admin" %}
        <th scope="col-2">Action</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for sesi in list_sesi_konsultasi %}
      <tr>
        <td>{{ sesi.id_konsultasi }}</td>
        <td>{{ sesi.no_rekam_medis_pasien }}</td>
        <td>{{ sesi.tanggal }}</td>
        <td>Rp {{ sesi.biaya }}</td>
        <td>{{ sesi.status }}</td>
        <td>{{ sesi.id_transaksi }}</td>
        {% if request.session.role == "admin" %}
        <td>
          <div class="col">
            <button class='btn btn-outline-info btn-sm' onclick="window.location={{ sesi.id_konsultasi }}">Update</button>
            <form method="POST" action="{% url 'sesikonsultasi:delete_sesi' sesi.id_konsultasi %}">
              {% csrf_token %}
              <button class='btn btn-danger' type="submit">Delete</button>
            </form>
          <div>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>


  {% endblock %}