{% extends 'base.html' %}

{% block content %}
<div class="d-flex flex-column align-items-center">
    <h2>FORM UPDATE SESI KONSULTASI</h2>
    <div class=" mt-4 w-75">
        <form action="{% url 'sesikonsultasi:update_sesi' detail.id_konsultasi %}" class=" align-items-center" method="POST">
            {% csrf_token %}
            <div class="d-flex flex-row form-group-row my-2">
                <p class="w-50">ID Konsultasi</p>
                <input type="text" class="form-control" id="disabledTextInput" placeholder="{{ detail.id_konsultasi }}" disabled>
            </div>
            <div class="d-flex flex-row form-group-row my-2">
                <p class="w-50">No Rekam Medis Pasien</p>
                <input type="text" class="form-control" id="disabledTextInput" placeholder="{{ detail.no_rekam_medis_pasien }}" disabled>
            </div>
            <div class="d-flex flex-row form-group-row my-2">
                <p class="w-50">Tanggal</p>
                <input type="date" name="tanggal" class="form-control" value="{{ tanggal }}">
            </div>
            <div class="d-flex flex-row form-group-row my-2">
                <p class="w-50">Biaya</p>
                <input type="text" class="form-control" id="disabledTextInput" placeholder="Rp {{ detail.biaya }}" disabled>
            </div>
            <div class="d-flex flex-row form-group-row my-2">
                <p class="w-50">Status</p>
                <select name="status"  class="custom-select">
                    <option value="BOOKED">Booked</option>
                    <option value="DONE">Done</option>
                    <option value="CANCELED">Canceled</option>
                </select>
            </div>
            <input type="submit" value="Submit" class="btn btn-outline-info float-right mt-2">
        </form>
    </div>
</div>






{% endblock %}