{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/png" href="{% static 'image/icon.png' %}" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <title>Medika GO 27</title>
</head>
<body style="background-color: #efefef; font-family: 'Poppins', sans-serif;">
  <!-- navigation bar -->
  <nav class="navbar navbar-expand-lg navbar-light shadow" style="background-color: #eea4a2;">
    <a class="navbar-brand" href="/">
      <img src="{% static 'image/MedikaGO.png' %}" height="60px" width="180px" style="object-fit: cover;"/>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav" >
      <ul class="navbar-nav">

        <!-- <li class="nav-item active">
          <a class="nav-link" href="#">Home</a> Put navbar item like this
        </li> -->
        {% block navbar %}
        {% endblock %}
        {% if request.session.username == None %}
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Register
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/auth/register/admin">Administrator</a>
              <a class="dropdown-item" href="/auth/register/dokter">Dokter</a>
              <a class="dropdown-item" href="/auth/register/pasien">Pasien</a>
            </div>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/auth/login">Login</a> 
          </li>
        {% else %}
          <li class="nav-item active">
            <a class="nav-link" href="/profil">Profil</a> 
          </li>

          {% if request.session.role == "admin" %}
            <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sesi Konsultasi
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/sesikonsultasi/add_sesi">Buat Sesi Konsultasi</a>
                <a class="dropdown-item" href="/sesikonsultasi/daftar_sesi">Daftar Sesi Konsultasi</a>
              </div>
            </li>
          {% else %}
            <li class="nav-item active">
              <a class="nav-link" href="/sesikonsultasi/daftar_sesi">Daftar Sesi Konsultasi</a>
            </li>
          {% endif %}


          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Poliklinik
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              {% if request.session.role == "admin" %}
                <a class="dropdown-item" href="/poliklinik/buat-layanan-poliklinik">Buat Layanan Poliklinik</a>
                <a class="dropdown-item" href="/poliklinik/daftar-layanan-poliklinik">Daftar Layanan Poliklinik</a>
                <a class="dropdown-item" href="/poliklinik/buat-jadwal-poliklinik">Buat Jadwal Poliklinik</a>
                <a class="dropdown-item" href="/poliklinik/daftar-jadwal-poliklinik">Daftar Jadwal Poliklinik</a>
              {% else %}
                <a class="dropdown-item" href="/poliklinik/daftar-layanan-poliklinik">Daftar Layanan Poliklinik</a>
                <a class="dropdown-item" href="/poliklinik/daftar-jadwal-poliklinik">Daftar Jadwal Poliklinik</a>
              {% endif %}
            </div>
          </li>


          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              RS Cabang
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              {% if request.session.role == "admin" %}
              <a class="dropdown-item" href="/rscabang/buat-rscabang/">Buat RS Cabang</a>
              <a class="dropdown-item" href="/rscabang/daftar-rscabang/">Daftar RS Cabang</a>
              <a class="dropdown-item" href="/rscabang/add_dokter">Daftarkan Dokter</a>
              <a class="dropdown-item" href="/rscabang/list_dokter">Daftar Dokter-RS Cabang</a>
              <a class="dropdown-item" href="/rscabang/daftarkan-administrator">Daftarkan Administrator</a>
              {% else %}
                <a class="dropdown-item" href="/rscabang/daftar-rscabang/">Daftar RS Cabang</a>
                <a class="dropdown-item" href="/rscabang/list_dokter">Daftar Dokter-RS Cabang</a>
              {% endif %}
            </div>
          </li>

          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Resep dan Obat
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              {% if request.session.role == "admin" %}
                <a class="dropdown-item" href="/resep-obat/buat-resep">Buat Resep</a>
                <a class="dropdown-item" href="/resep-obat/daftar-resep">Daftar Resep</a>
                <a class="dropdown-item" href="/resep-obat/buat-obat">Buat Obat</a>
                <a class="dropdown-item" href="/resep-obat/daftar-obat">Daftar Obat</a>
              {% else %}
                <a class="dropdown-item" href="/resep-obat/daftar-resep">Daftar Resep</a>
                <a class="dropdown-item" href="/resep-obat/daftar-obat">Daftar Obat</a>
              {% endif %}
            </div>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/transaksi/list">Daftar Transaksi</a> 
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/auth/logout">Logout</a> 
          </li>

        {% endif %}
      </ul>
    </div>
  </nav>

  {% block content %}
  {% endblock %}

  {% block script %}
  {% endblock %}

</body>
</html>