{% extends 'base.html' %}
{% load static %}


{% block navbar %}
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center flex-column align-items-center mt-4 pt-2">
  <h1>
    Welcome to
  </h1>
  <h1>MedikaGO</h1> {{ request.session.username }} - {{ request.session.role }}
  <img src="{% static 'image/gambarhome.svg' %}" width="50%" height="auto"> 
</div>
{% endblock %}