{% extends 'base.html' %}

{% block content %}
<div class="d-flex align-items-center flex-column mt-5 pt-5">
  <h1 class="mb-2">Form Pembuatan Transaksi</h1>
  <form class="text-center" method="POST">
    {% csrf_token %}
    <p>Nomor Rekam Medis Pasien</p>
    <select name="no_rekam_medis" id="no_rekam_medis" class="custom-select" style="width: 300px;" onchange="ilanginError()">
      {% for no in list_no_rekam_medis %}
      <option value="{{ no.no_rekam_medis }}">{{ no.no_rekam_medis }} - {{ no.username }}</option>
      {% endfor %}
    </select>
    <p class="text-danger" id="error-message">
      {% if error %}
        nomor rekam medis tidak terdaftar, harap mengecek kembali
      {% endif %}
    </p>
    <input type="submit" value="Create" class="btn btn-danger">
  </form>
</div>
{% endblock %}

{% block script %}
<script>
  function ilanginError(){
    document.getElementById("error-message").innerHTML="";
  }
</script>
{% endblock %}