{% extends 'base.html' %}

{% block content %}
<h1 class="mt-4 mb-3 ml-3">List Transaksi</h1>
{% if request.session.role == "admin" %}
  <button class='btn btn-success mb-3 float-right mr-5' onclick="window.location='/transaksi/create'"><span class="bold">+</span> Buat Transaksi</button>
{% endif %}
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">No.</th>
      <th scope="col">Tanggal</th>
      <th scope="col">Status</th>
      <th scope="col">Total Biaya</th>
      <th scope="col">Waktu Pembayaran</th>
      <th scope="col">Nomor Rekam Medis Pasien</th>
      {% if request.session.role == "admin" %}
        <th scope="col">Action</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for transaksi in list_transaksi %}
      <tr>
        <th scope="row">{{ transaksi.id_transaksi }}</th>
        <td>{{ transaksi.tanggal }}</td>
        <td>{{ transaksi.status }}</td>
        <td>Rp. {{ transaksi.total_biaya }}</td>
        <td>{{ transaksi.waktu_pembayaran }}</td>
        <td>{{ transaksi.no_rekam_medis }}</td>
        {% if request.session.role == "admin" %}
          <td>
            <button class='btn btn-outline-info' onclick="window.location={{ transaksi.id_transaksi }}" >Update</button>
            <form method="POST" action="{% url 'transaksi:delete' transaksi.id_transaksi %}">
              {% csrf_token %}
              <button class='btn btn-danger' type="submit">Delete</button>
            </form>
          </td>
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}