{% extends 'base.html' %}

{% block content %}
<div class="d-flex align-items-center flex-column mt-5 pt-5">
  <h1 class="mb-2">Form Update Transaksi</h1>
  <form method="POST" action="{% url 'transaksi:update' id_transaksi %}">
    {% csrf_token %}
    <div class="form-group row">
      <p class="col">id</p>
      <input name="id_transaksi" value="{{ id_transaksi }}" disabled>
    </div>
    <div class="form-group row">
      <p class="col">Tanggal</p>
      <input name="tanggal" type="date" value="{{ tanggal }}">
    </div>
    <div class="form-group row">
      <p class="col">Status</p>
      <input name="status" value="{{ status }}">
    </div>
    <div class="form-group row">
      <p class="col">Total Biaya</p>
      <input name="total_biaya" value="{{ total_biaya }}" disabled>
    </div>
    <div class="form-group row">
      <p class="col">Waktu Pembayaran</p>
      <input name="waktu_pembayaran" type="datetime-local" value="{{ waktu_pembayaran }}">
    </div>
    <div class="form-group row">
      <p class="col">Nomor Rekam Medis Pasien</p>
      <input name="no_rekam_medis" value="{{ no_rekam_medis }}">
    </div>
    <p></p>
    <input type="submit" value="Update" class="btn btn-danger float-right">
  </form>
</div>
{% endblock %}