{% extends 'base.html' %}

{% block content %}
<div class="d-flex flex-column align-items-center mt-5">
    <h2>FORM PEMBUATAN OBAT</h2>
    <div class=" mt-4 w-50">
        <form method="POST" action="{% url 'resepdanobat:buat_obat' %}" class="align-items-center">
            {% csrf_token %}
            <div class="d-flex flex-row form-group-row my-2">
                <p class="w-25">Kode</p>
                <input type="number" class="form-control w-75" name="kode" required>
            </div>
            <div class="d-flex flex-row form-group-row my-2">
                <p class="w-25">Stok</p>
                <input type="number" class="form-control w-75" name="stock" required>
            </div>
            <div class="d-flex flex-row form-group-row my-2">
                <p class="w-25">Harga</p>
                <input type="number" class="form-control w-75" name="harga" required>
            </div>
            <div class="d-flex flex-row form-group-row my-2">
                <p class="w-25">Komposisi</p>
                <input type="text" class="form-control w-75" name="komposisi">
            </div>
            <div class="d-flex flex-row form-group-row my-2">
                <p class="w-25">Bentuk Sediaan</p>
                <input type="text" class="form-control w-75" name="bentuk" required>
            </div>
            <div class="d-flex flex-row form-group-row my-2">
                <p class="w-25">Merek Dagang</p>
                <input type="text" class="form-control w-75" name="merek" required>
            </div>
            <input type="submit" value="Submit" class="btn btn-outline-info float-right mt-2">
        </form>
    </div>
    {% if error %}
    <div class="alert alert-danger" role="alert">Kode sudah diambil, ganti kode anda</div>
    {% endif %}
</div>

{% endblock %}
