{% extends 'base.html' %}

{% block content %}
<div class="d-flex flex-column align-items-center mt-5">
    <h2>FORM PEMBUATAN RESEP</h2>
    <div class="mt-4 w-25">
        <form action="{% url 'resepdanobat:buat_resep' %}" method="POST" class="align-items-center">
            {% csrf_token %}
            <div class="d-flex flex-row form-group-row my-2">
                <p class="w-50">ID Konsultasi</p>
                <select name="id_konsultasi" id="" class="custom-select w-75">
                    {% for id in list_id_konsultasi %}
                    <option value="{{ id.id_konsultasi }}">{{ id.id_konsultasi }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="d-flex flex-row form-group-row my-2">
                <p class="w-50">ID Transaksi</p>
                <select name="id_transaksi" id="" class="custom-select w-75">
                    {% for id in list_id_transaksi %}
                    <option value="{{ id.id_transaksi }}">{{ id.id_transaksi }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group my-2" id="daftar_kode_obat">
                <p class="w-50">Daftar Kode Obat</p>
                <button type="button" class="btn btn-outline-warning mr-2 float-left" onclick="daftarkodeobat(); this.disabled=true"><b>+</b></button>
                <select name="daftar_kode_obat" id="" class="custom-select w-75">
                    {% for kode in list_kode_obat %}
                    <option value="{{ kode.kode }}">{{ kode.kode }} - {{ kode.merk_dagang }}</option>
                    {% endfor %}
                </select>
            </div>
            <input type="submit" value="Submit" class="btn btn-outline-info float-right mt-3 mb-3 w-25">
        </form>
    </div>
</div>

{% endblock %}

{% block script %}
<script>
  function daftarkodeobat(e){
    const div = document.createElement('div');
    div.className= "d-flex flex-row form-group-row my-2";
    div.innerHTML= `
                <button type="button" class="btn btn-outline-warning mr-2 float-left" onclick="daftarkodeobat(); this.disabled=true">+</button>
                <select name="daftar_kode_obat" id="" class="custom-select w-75">
                    {% for kode in list_kode_obat %}
                    <option value="{{ kode.kode }}">{{ kode.kode }} - {{ kode.merk_dagang }}</option>
                    {% endfor %}
                </select>
    `;
    document.getElementById("daftar_kode_obat").appendChild(div);
  }
</script>
{% endblock %}