{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static "css/style-sam.css" %}"/>
<h1 class="d-flex justify-content-center mt-4 mb-3">Daftar Resep</h1>
<p class="d-flex justify-content-center mt-4 mb-3">{{ request.session.username }} - {{ request.session.role }}</p>
<button class='btn btn-success mb-3 float-right mr-5' onclick="window.location='/resep-obat/buat-resep'"><span class="bold"></span>Buat Resep</button>
<table class="table table-hover mx-5" style="width: 95%; text-align: center;">
    <thead>
    <tr>
      <th scope="col">No. Resep</th>
      <th scope="col">Total Harga</th>
      <th scope="col">ID Konsultasi</th>
      <th scope="col">ID Transaksi</th>
      <th scope="col">Daftar Obat</th>
      {% if request.session.role == "admin" %}
      <th scope="col">Action</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for rw in daftar_resep_dan_obat %}
      <tr>
      <th scope="row">{{ rw.no_resep }}</th>
      <td style="text-align: center;">Rp {{ rw.total_harga }}</td>
      <td>{{ rw.id_konsultasi }}</td>
      <td>{{ rw.id_transaksi }}</td>
      <td>{{ rw.kodeobat }}</td>
    {% if request.session.role == "admin" %}
      <td>
        <button class='btn btn-outline-info'>Update</button>
        <form method="POST" action="{% url 'resepdanobat:delete_resep' rw.no_resep %}">
          {% csrf_token %}
          <button class='btn btn-danger mt-1'>Delete</button>
        </form>
      </td>
    {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}