{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1 class="d-flex justify-content-center mt-4 mb-3">Daftar Obat</h1>
<button class='btn btn-success mb-3 float-right mr-5' onclick="window.location='/resep-obat/buat-obat'"><span class="bold"></span>Buat Obat</button>
<table class="table table-hover mx-5" style="width: 95%; text-align: center;">
    <thead>
    <tr>
      <th scope="col">Kode</th>
      <th scope="col">Stok</th>
      <th scope="col">Harga</th>
      <th scope="col">Komposisi</th>
      <th scope="col">Bentuk Sediaan</th>
      <th scope="col">Merk Dagang</th>
      {% if request.session.role == "admin" %}
      <th scope="col">Action</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for obat in daftar_obat %}
    <tr>
      <th scope="row">{{ obat.kode }}</th>
      <td>{{ obat.stok}}</td>
      <td style="text-align: center;">Rp {{ obat.harga }}</td>
      <td>{{ obat.komposisi }}</td>
      <td>{{ obat.bentuk_sediaan }}</td>
      <td>{{ obat.merk_dagang}}</td>
      {% if request.session.role == "admin" %}
      <td>
        <button class='btn btn-outline-info' onclick="window.location={{ obat.kode }}">Update</button>
        <form method="POST" action="{% url 'resepdanobat:delete_obat' obat.kode %}">
          {% csrf_token %}
          <button class='btn btn-danger mt-1'>Delete</button>
        </form>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
</tbody>
</table>
{% endblock %}