{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="d-flex flex-column align-items-center mt-5">
    <h2>FORM UPDATE OBAT</h2>
    <div class="mt-4 w-50">
        <form method="POST" action="{% url 'resepdanobat:update_obat' info_obat.kode %}" class="align-items-center">
            {% csrf_token %}
            <div class="d-flex flex-row form-group-row my-2">
                <p class="w-25">Kode Obat</p>
                <input type="text" class="form-control w-75" value="{{ info_obat.kode }}" disabled>
            </div>
            <div class="d-flex flex-row form-group-row my-2">
                <p class="w-25">Stok</p>
                <input type="number" class="form-control w-75" name="stok" placeholder="{{ info_obat.stok }}" required>
            </div>
            <div class="d-flex flex-row form-group-row my-2">
                <p class="w-25">Harga</p>
                <input type="number" class="form-control w-75" name="harga" placeholder="{{ info_obat.harga }}" required>
            </div>
            <div class="d-flex flex-row form-group-row my-2">
                <p class="w-25">Komposisi</p>
                <input type="text" class="form-control w-75" name="komposisi"  placeholder="{{ info_obat.komposisi }}">
            </div>
            <div class="d-flex flex-row form-group-row my-2">
                <p class="w-25">Bentuk Sediaan</p>
                <input type="text" class="form-control w-75" name="bentuk_sediaan" placeholder="{{ info_obat.bentuk_sediaan }}" required>
            </div>
            <div class="d-flex flex-row form-group-row my-2">
                <p class="w-25">Merek Dagang</p>
                <input type="text" class="form-control w-75" name="merk_dagang" placeholder="{{ info_obat.merk_dagang }}" required>
            </div>
            <input type="submit" value="Submit" class="btn btn-outline-info float-right mt-2">
        </form>
    </div>
</div>
{% endblock %}